{
  "env": {
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", { "modules": "commonjs" }],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-proposal-private-methods",
        ["babel-plugin-styled-components", { "ssr": false, "displayName": true, "pure": true }]
      ]
    }
  }
}